@model MainPageViewModel

@{
    ViewBag.Title = "Products";
}

<partial name="SidebarPartialView" />

<div class="container">
    <div class="row" style="margin-top: 1.5em">
        <div class="right">

            <a href="#createProductModal" class="btn waves-effect green modal-trigger">New product<i class="material-icons right">playlist_add</i></a>
            <a asp-action="Logout" asp-controller="Account" class="btn waves-effect red">Logout<i class="material-icons right">exit_to_app</i></a>

        </div>
    </div>

    @*This div ofsets itself from the sidebar*@
    <div style="margin-left:8em">
        <div class="row">
            @*Table of products*@
            <table class="striped">
                <thead>
                    <tr>
                        <th>Product</th>
                        <th>Published</th>
                        <th>Price</th>
                        <th>Version</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var p in Model.Products)
                    {
                        <tr>
                            <td>@p.Name</td>
                            <td>
                                @if (!User.IsInRole("Editor"))
                                {
                                    <form asp-action="PublishProduct" asp-controller="Product">

                                        @if (p.Published)
                                        {
                                            <button class="btn waves-effect green darken-1" type="submit">
                                                Published
                                                <i class="material-icons right">check</i>
                                            </button>
                                        }
                                        else
                                        {
                                            <button class="btn waves-effect red" type="submit">
                                                Unpublished
                                                <i class="material-icons right">lock_outline</i>
                                            </button>
                                        }
                                        <input type="hidden" name="productId" value="@p.Id" />

                                    </form>
                                }
                                else
                                {
                                    @if (p.Published)
                                    {
                                        <p>Published</p>
                                    }
                                    else
                                    {
                                        <p>Unpublished</p>
                                    }
                                }


                            </td>
                            <td>@String.Format("{0:C}", p.Price)</td>

                            <td>@p.Version</td>
                            <td>
                                @*Leads to edit modal*@
                                <a href="#editProductModal" class="editProd btn waves-effect yellow darken-2 modal-trigger" data-id="@p.Id" data-name="@p.Name" data-price="@p.Price" data-description="@p.Description">
                                    Edit
                                    <i class="material-icons right">edit</i>
                                </a>
                                @*modal-trigger*@
                                @*Leads to delete modal*@
                                <a href="#deleteProductModal" class="deleteProd btn waves-effect red darken-2 modal-trigger" data-id="@p.Id">
                                    Delete
                                    <i class="material-icons right">delete</i>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="5">
                                    @p.Description
                                <hr />
                            </td>
                        </tr>
                        
                    }
                </tbody>

            </table>


        </div>
    </div>

    @*Create product modal*@
    <div id="createProductModal" class="modal">

        @*Create product form*@
        <form asp-action="CreateProduct" asp-controller="Product" method="post" class="col s12">

            <div class="modal-content">
                <h4 class="center">Create new product</h4>
                <div class="row">

                    <div class="input-field col s6">
                        <select asp-for="SubcategoryId" class="subcategoryselect validate" required>
                            <option disabled selected>Choose subcategory</option>
                            @foreach (var s in Model.Subcategories)
                            {
                                <option value="@s.Id">@s.Name</option>
                            }
                        </select>
                        <span class="helper-text" data-error="Please enter a valid subcategory"></span>
                    </div>

                    <div class="input-field col s6">
                        <i class="material-icons prefix">library_books</i>
                        <input asp-for="Name" id="icon_library_books" type="text" class="validate" required />
                        <label asp-for="Name" for="icon_library_books">Product name</label>
                        <span class="helper-text" data-error="Please enter a product name"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <i class="material-icons prefix">attach_money</i>
                        <input asp-for="Price" id="productPrice" class="validate" required />
                        <label asp-for="Price" for="productPrice">Product price</label>
                        <span class="helper-text" data-error="Please enter a valid price"></span>
                    </div>
                    <div class="input-field col s6">
                        <textarea asp-for="Description" id="createTextarea" class="createProductModalDescription materialize-textarea"></textarea>
                        <label asp-for="Description" for="createTextarea">Description</label>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <a class="modal-close waves-effect btn grey">
                    cancel
                    <i class="material-icons right">cancel</i>
                </a>
                <button id="createProductSubmit" class="modal-close waves-effect btn green" type="submit">
                    Create
                    <i class="material-icons right">library_add</i>
                </button>
            </div>

        </form>
    </div>

    @*Delete product modal*@
    <div id="deleteProductModal" class="modal">
        <div class="modal-content">
            <h4 class="center">This will remove this product</h4>
            <div class="row">
                <h5 class="center">are you sure you want to remove it?</h5>
            </div>
        </div>
        <div class="modal-footer">
            <div class="row">
                <div class="right">

                    <form>
                        <a class="modal-close waves-effect btn grey col">
                            No, cancel
                            <i class="material-icons right">cancel</i>
                        </a>
                        <button asp-action="DeleteProduct" asp-controller="Product"
                                class="modal-close btn waves-effect red darken-2 modal-trigger col" type="submit" style="margin-left:1em">
                            Yes, delete
                            <i class="material-icons right">delete</i>
                        </button>
                        <input class="deleteProductModalInput" type="hidden" name="productId" value="" />

                    </form>
                </div>
            </div>

        </div>
    </div>

    @*Edit product modal*@
    <div id="editProductModal" class="modal">
        <form asp-action="UpdateProduct" asp-controller="Product">
            <div class="modal-content">
                <h4 class="center">Edit Product</h4>
                <div class="row">
                    <div class="input-field col s6">
                        <select asp-for="SubcategoryId" class="subcategoryselect">
                            <option disabled selected>Choose subcategory</option>
                            @foreach (var s in Model.Subcategories)
                            {
                                <option value="@s.Id">@s.Name</option>
                            }
                        </select>
                    </div>

                    <div class="input-field col s6">
                        <i class="material-icons prefix">library_books</i>
                        <input asp-for="Name" id="edit_library_books" type="text" class="editProductModalValue validate" value="">
                        <label asp-for="Name" for="edit_library_books" class="active">Change product name</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <i class="material-icons prefix">attach_money</i>
                        <input asp-for="Price" class="editProductModalPrice validate" id="productPrice" value="" />
                        <label asp-for="Price" for="productPrice">Product price</label>
                    </div>
                    <div class="input-field col s6">
                        <textarea asp-for="Description" id="editTextarea" class="editProductModalDescription materialize-textarea"></textarea>
                        <label asp-for="Description" for="editTextarea">Description</label>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <a class="modal-close waves-effect btn grey">
                    cancel
                    <i class="material-icons right">cancel</i>
                </a>
                <button class="waves-effect btn green" type="submit">
                    edit
                    <i class="material-icons right">edit</i>
                </button>
                <input class="editProductModalInput" type="hidden" name="productId" value="" />
            </div>
        </form>
    </div>

</div>