@model MainPageViewModel

@{
    ViewBag.Title = "Products";
}

<partial name="SidebarPartialView" />

<div class="container">
    <div class="row" style="margin-top: 1.5em">
        <div class="right">

            <a asp-action="ProductExportJSON" asp-controller="Product" class="btn waves-effect">Export to Json<i class="material-icons right">send</i></a>
            <a href="#createProductModal" class="btn waves-effect green modal-trigger">New product<i class="material-icons right">playlist_add</i></a>
            <a asp-action="Logout" asp-controller="Account" class="btn waves-effect red">Logout<i class="material-icons right">exit_to_app</i></a>

        </div>
    </div>

    @*This div ofsets itself from the sidebar*@
    <div style="margin-left:8em">
        <div class="row">
            @*Table of products*@
            <table class="striped">
                <thead>
                    <tr>
                        <th>Product</th>
                        <th>Published</th>
                        <th>Price</th>
                        <th>Version</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var p in Model.Products)
                    {
                        <tr>
                            <td>
                                <a asp-action="ProductExportJSON" asp-controller="Product" asp-route-productId="@p.Id" class="btn-flat" title="Export as JSON">
                                    @p.Name
                                </a>
                            </td>
                            <td>
                                @if (!User.IsInRole("Editor"))
                                {
                                    <form asp-action="PublishProduct" asp-controller="Product">

                                        @if (p.Published)
                                        {
                                            <button class="btn waves-effect green darken-1" type="submit">
                                                Published
                                                <i class="material-icons right">check</i>
                                            </button>
                                        }
                                        else
                                        {
                                            <button class="btn waves-effect red" type="submit">
                                                Unpublished
                                                <i class="material-icons right">lock_outline</i>
                                            </button>
                                        }
                                        <input type="hidden" name="productId" value="@p.Id" />

                                    </form>
                                }
                                else
                                {
                                    @if (p.Published)
                                    {
                                        <p>Published</p>
                                    }
                                    else
                                    {
                                        <p>Unpublished</p>
                                    }
                                }

                            </td>
                            <td>@String.Format("{0:C}", p.Price)</td>

                            <td>@p.Version</td>
                            <td>
                                @*Leads to edit modal*@
                                <a href="#editProductModal" class="editProd btn waves-effect yellow darken-2 modal-trigger"
                                   data-id="@p.Id"
                                   data-name="@p.Name"
                                   data-price="@p.Price"
                                   data-description="@p.Description">
                                    Edit
                                    <i class="material-icons right">edit</i>
                                </a>
                                @*modal-trigger*@
                                @*Leads to delete modal*@
                                <a href="#deleteProductModal" class="deleteProd btn waves-effect red darken-2 modal-trigger" data-id="@p.Id">
                                    Delete
                                    <i class="material-icons right">delete</i>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="5">
                                <div class="row">
                                    <div class="col s6">
                                        @p.Description
                                    </div>
                                    <div class="col s6">

                                        @*loops all the attributegroups*@
                                        @foreach (var attrGroup in Model.SubcategoryAttributeGroups)
                                        {
                                            if (attrGroup.SubcategoryId == p.SubcategoryId)
                                            {
                                                @*Loops all attributes in the attributeGroup*@
                                                foreach (var attr in attrGroup.AttributeGroup.ProductAttributes)
                                                {

                                                    var prodAttrValueRow = Model.ProductAttributeValues.FirstOrDefault(x => x.ProductAttribute.Id.Equals(attr.Id) && x.ProductId.Equals(p.Id));
                                                    
                                                    var prodAttrValueRowValue = prodAttrValueRow?.Value;

                                                    <form asp-action="UpdateAttributeValue" asp-controller="Product" method="post">
                                                        <input asp-for="ProductAttributeId" type="hidden" value="@attr.Id" />
                                                        <input asp-for="ProductId" type="hidden" value="@p.Id" />
                                                        @if (attr.Type == "bool")
                                                        {
                                                            <div class="col s8">
                                                                <label>
                                                                    @if (prodAttrValueRowValue == "true")
                                                                    {
                                                                        <input asp-for="Value" type="checkbox" checked />
                                                                    }
                                                                    else
                                                                    {
                                                                        <input asp-for="Value" type="checkbox" />
                                                                    }
                                                                    <span>@attr.Name</span>
                                                                </label>
                                                            </div>
                                                        }
                                                        else if (attr.Type == "int" || attr.Type == "string")
                                                        {
                                                            <div class="input-field col s8">
                                                                @if (attr.Type == "int")
                                                                {
                                                                    <input asp-for="Value" id="@attr.Name@p.Id" type="number" class="validate" value="@prodAttrValueRowValue" required />
                                                                }
                                                                else if (attr.Type == "string")
                                                                {
                                                                    <input asp-for="Value" id="@attr.Name@p.Id" type="text" class="validate" value="@prodAttrValueRowValue" required />
                                                                }

                                                                <label asp-for="Value" for="@attr.Name@p.Id">@attr.Name</label>
                                                                <span class="helper-text" data-error="Please enter a @attr.Name"></span>
                                                            </div>
                                                        }
                                                        else if (attr.Type == "color")
                                                        {
                                                            <div class="col s8">
                                                                
                                                                <label>
                                                                    @if (prodAttrValueRowValue != "red")
                                                                    {
                                                                        <input asp-for="Value" type="radio" class="with-gap" value="red" />
                                                                    }
                                                                    else
                                                                    {
                                                                        <input asp-for="Value" type="radio" class="with-gap" value="red" checked />
                                                                    }
                                                                    <span>Red</span>
                                                                </label>
                                                                <label>
                                                                    @if (prodAttrValueRowValue != "yellow")
                                                                    {
                                                                        <input asp-for="Value" type="radio" class="with-gap" value="yellow" />
                                                                    }
                                                                    else
                                                                    {
                                                                        <input asp-for="Value" type="radio" class="with-gap" value="yellow" checked />
                                                                    }
                                                                    <span>Yellow</span>
                                                                </label>
                                                                <label>
                                                                    @if (prodAttrValueRowValue != "blue")
                                                                    {
                                                                        <input asp-for="Value" type="radio" class="with-gap" value="blue" />
                                                                    }
                                                                    else
                                                                    {
                                                                        <input asp-for="Value" type="radio" class="with-gap" value="blue" checked />
                                                                    }

                                                                    <span>Blue</span>
                                                                </label>
                                                            </div>
                                                        }

                                                        <div class="col s4">
                                                            <button class="btn waves-effect" type="submit">
                                                                Save
                                                            </button>
                                                        </div>

                                                    </form>

                                                }
                                            }
                                        }

                                        <br />
                                    </div>
                                </div>

                                <hr />
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    @*Create product modal*@
    <partial name="CreateModal" />

    @*Delete product modal*@
    <partial name="DeleteModal" />

    @*Edit product modal*@
    <partial name="EditModal" />

</div>